<%- include ('./partials/header') %>
        <div class="ui message container">
            <h3 id="info">Anonymously share your crazy experiences on OAU campus</h3>
            <a href="/posts/new" class="item">
                <button class="ui tiny positive button">Get Started</button>
            </a>
        </div>

        <div class="posts">
            <% posts.slice().reverse().forEach((post) => { %>
                <div class="ui message container">
                    <a id="label" class="ui grey label"><%= post.created.toLocaleString() %></a>
                    <p><%= post.body %></p>
                    <a id="link" href="/posts/<%= post._id %>">
                        <button class="ui tiny red button">Report</button>
                    </a>
                </div>
            <% }) %>
        </div>
<%- include ('./partials/footer') %>